.Line {
    width: 90px;
    height: 40px;
    position: absolute;
    top: 100px;
        /*left: 478px;*/
    background-image: url(/PublishingImages/Tax/line.png);
}



.iconNext {
    height: 30px;
    width: auto;
}

/*[  ]*/
.squarebrackets:before {
    content: " ";
    border-left: 2px solid #003399;
    border-top: 2px solid #003399;
    border-bottom: 2px solid #003399;
    /*border-left:2px solid #7AA3CC;
   border-top:2px solid #7AA3CC;
   border-bottom:2px solid #7AA3CC;*/
    margin-right: 10px;
    padding: 10px 5px 10px 5px;
}

.squarebrackets:after {
    content: " ";
    padding: 10px 5px 10px 5px;
    /*border-right:2px solid #7AA3CC;
  border-top:2px solid #7AA3CC;
  border-bottom:2px solid #7AA3CC;*/
    border-right: 2px solid #003399;
    border-top: 2px solid #003399;
    border-bottom: 2px solid #003399;
    margin-left: 10px;
}

/*Emotion icon*/
.iconCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
}

.iconCorner {
      position: absolute;
    top: -31px;
    right: -19px;
    width: 70px;
    height: 70px;
}