/*TextColor ===*/
.FinanCalBaseText {
    color: #003399;
    /*color: #7AA3CC;*/
}

.FinanCalLinkText {
    /*color:#003399;*/
    color: #FF6600;
    /*font-weight:bold;*/
    font-size: 1.1em;
    cursor: pointer;
}

.FinanCalLabel {
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
    width: 100%;
}

/*=== TextColor*/

/*Section==*/
section {
    padding-top: 30px;
}

    section.blue {
        background-color: #25395a;
        color: #CCCCCC;
        font-size: 16px;
    }

    section.blue {
        color: #CCCCCC;
    }

.cssInput {
    background-color: transparent;
}

section input[type="radio"].rdbtn + label {
    color: #c8c8c8;
    display: inline;
    font-size: 18px !important;
}

/*==Section*/

/*Form Control === */

div.borderDashed:before {
    content: "";
    position: absolute;
    /*border: 2px dashed #7AA3CC;*/
    border: 2px dashed #003399;
    top: -3px;
    bottom: -3px;
    /*left: -3px;
    right: -3px;*/
    left: -17px;
    right: -17px;
}

/*Check Box ---*/

label.btn span {
    font-size: 1.5em;
}

label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #999;
    display: inline;
    font-size: 18px;
}

label input[type="radio"] ~ i.fa.fa-dot-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
    color: #7AA3CC;
    display: inline;
    font-size: 18px;
}

label:hover input[type="radio"] ~ i.fa {
    color: #7AA3CC;
}

label input[type="checkbox"] ~ i.fa.fa-square-o {
    color: #c8c8c8;
    display: inline;
}

label input[type="checkbox"] ~ i.fa.fa-check-square-o {
    display: none;
}

label input[type="checkbox"]:checked ~ i.fa.fa-square-o {
    display: none;
}

label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o {
    color: #7AA3CC;
    display: inline;
}

label:hover input[type="checkbox"] ~ i.fa {
    /*color: #7AA3CC;*/
    color: #003399;
}

div[data-toggle="buttons"] label.active {
    /*color: #7AA3CC;*/
    color: #003399;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    div[data-toggle="buttons"] label:hover {
        color: #7AA3CC;
    }

    div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
/*--- Check Box*/

/*=== Form Control*/

/*=== Common*/

/*Common===*/

/*Tab Ui===*/
.list-type3 {
    margin: 0 auto;
    width: 500px;
}

.iconNumber label {
}

.list-type3 ol {
    list-style: none;
}

.list-type3 li, .list-type3 a {
    float: left;
    height: 35px;
    line-height: 35px;
    position: relative;
    font-size: 15px;
    margin-bottom: 12px;
    transition: background-color 1.5s ease;
}

.list-type3 a {
    padding: 0 60px 0 12px;
    background: #0089e0;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

    .list-type3 a:before {
        content: "";
        float: left;
        position: absolute;
        top: 0;
        left: -12px;
        width: 0;
        height: 0;
        border-color: transparent #0089e0 transparent transparent;
        border-style: solid;
        border-width: 18px 12px 18px 0;
    }

    .list-type3 a:after {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;
        float: left;
        width: 6px;
        height: 6px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        background: #fff;
        -moz-box-shadow: -1px -1px 2px #004977;
        -webkit-box-shadow: -1px -1px 2px #004977;
        box-shadow: -1px -1px 2px #004977;
    }

    .list-type3 a:hover {
        background: #555;
    }

        .list-type3 a:hover:before {
            border-color: transparent #0089e0 transparent transparent;
        }

/**/
.lblChart {
    margin-top: -25px;
    color: #c8c8c8;
    font-size: .8em;
    text-align: center;
}

.lblRangChart {

    margin-top:13px;
    margin-bottom:3px;
 
    /*bottom: -9px;
    width: 516px !important;
    position: absolute;
    width: 100%;
    right: -23px;*/


    /*bottom: -9px;
    width: 388px !important;
    position: absolute;
    width: 100%;
    right: 102px;*/
}

.divAdvice {
    /*margin-top: 25%;
    margin-bottom: 20px;*/
    margin-top: 25px;
}